.carousel-container {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
}
  
.carousel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: 200px;
    height: 165px;
    &:hover {
      transform: scale(0.9);
      background-color: #ecded4;
    } 
    border-radius: 10%;
    background-color: #762f25;
}
  
.carousel-card> img {
    height: 80%;
    width: 80%;
    border-radius: 10%;
}
  
.carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 200%;
    height: 100%;
    animation: slide 20s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
}