.navbar{
    background: #fff;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
}

.navbar-logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.navbar-container{
    display: flex;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 100px;    
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-right: 0;
    margin-left: auto;
}

.nav-links{
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover{
    color: #d72827;
}

.my-nav-item{
    border-bottom: 2px solid transparent;
}

.my-nav-item:hover{
    border-bottom: 2px solid #d72827;
}