.blog-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.blog{
  display: flex;
}

.button{
  color: darkgray;
  border: darkgray solid 1.5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post{
  display: flex;
  color:#7c7c7b;
  margin-top: 40px;
  margin-bottom: 10px;
}

.post-text{
  margin-left: 20px;
}

.date{
  font-size: 12px;
  color:  #7c7c7b;
}

.post-edit{
  display:flex;
}

.edit-button{
  width: 25px;
  height: auto;
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 10px;
}

textarea{
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}
.post-title {
  color: #003049;
}

.blog-image{
  object-fit: cover;
  width: 20vw;
  height: 20vw;
}

.text-input{
  padding: 5px;
  border:solid 1px #c0c0c0;
  width: 100%;
  box-sizing:border-box;
}

.input-element{
  margin-bottom: 5px;
}

.text-editor{
  margin-bottom: 20px;
}


/* PostDetails Styles */
.header-image{
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* SpotlightPostCard Styles*/

.spotlight-text{
  word-break: break-all;
  color:#003049;
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .post{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post-text{
    width: 100%;
    margin-left: 0px;
  }

  .blog-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .post-edit .blog-image{
    width: 60vw;
    height: 60vw;
  }

  .post-edit .post{
    width: 60vw;
    margin-left: 20px;
  }

  
}