.footer{
    background-color: #197278;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    padding: 15px;
    bottom: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

td{
    text-align: left;
    vertical-align: top;
    padding: 20px;
}

tr {
    text-align: top;
}

table{
    align-self: center;
    table-layout: fixed;
}