.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  font-size: 50px;
  color: #002f49;
}

p{
  font-size:17px;
}

.page-title{
  margin:20px;
  color:#002f49;
}

.page-content{
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}