html,
body{
   width: 100%;
   overflow-x: hidden;
   margin: 0;
}

.body {
  padding:0;
  margin:0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


h1.page-title {
  font-size: 50px;
  color: #002f49;
}

p.content{
  font-size:17px;
  color: #7c7c7b;
}

.page-title{
  margin-top:20px;
  color:#002f49;
}

.page-content{
  width: 70vw;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  min-height: 100vh;
}
