
.cropped-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
  
.none-image {
   object-fit: none;
}

.position-60-50 {
    object-position: 60% 50%; /* %shifted to the right, percent shifted up*/
}

.image {
    position: relative;
}
    
.image figcaption{
    position: absolute;
    top: 25%;
    left: 5%;
    color: #fff;
    font-size: 70px;
}

@media screen and (max-width: 960px) {
    .image figcaption{
        position: absolute;
        top: 30%;
        left: 20%;
        color: #fff;
        font-size: 30px;
    }
}