.none-image {
   object-fit: none;
}

.position-60-50 {
    object-position: 60% 50%; /* %shifted to the right, percent shifted up*/
}

.image {
    position: relative;
}
    
.image figcaption{
    position: absolute;
    top: 25%;
    left: 20%;
    color: #fff;
    font-size: 70px;
}