.navbar{
    background: #fff;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
}

.navbar-logo{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.navbar-container{
    display: flex;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 100px;    
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-right: 0;
    margin-left: auto;
}

.nav-links{
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover{
    color: #197278;
}

.my-nav-item{
    /* height: 80px; */
    border-bottom: 2px solid transparent;
}

.my-nav-item:hover{
    border-bottom: 2px solid #197278;
}

.menu-icon{
    display: none;
}

.fa-bars{
    color: #000;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #ecded4;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #197278;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    /* .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    } */
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #000;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 120px;
    }
  }