.popup{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 75%;
    max-width: 640px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    
    display: inline-block;
    outline: none;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #d72827;
    color: #d72827;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;

}

label {
    color: black;
    font-size: medium;
}

h1 {
    font-size: 40px;
    color: #002f49;
}

.submit-btn{
    display: inline-block;
    outline: none;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #fdbf49;
    height: 48px;
}

